In [ ]:
#파이썬 관계 연산자

In [4]:
print('cat'>'dog')

False

In [2]:
print(3.5<=3.56)

True

In [5]:
speed = 60
print(50>speed)
print(50<speed and speed<=80)

False
True

In [ ]:
#파이썬 논리 연산자

In [7]:
True & True, True and True #논리곱
True | True, True or True #논리합

(True, True)

In [9]:
True ^ True #베타적 논리합 (반대)

False

In [10]:
not True

False

In [11]:
40*True, 30*False #1, 0 산술연산에 활용

(40, 0)

In [15]:
usage = float(input("가정의 전기 사용량을 입력하세요"))
less200 = usage<=200
less400=200<usage<=400
greater400=400<usage

base=730*less200 + 1250*less400 + 6060*greater400
print("전기사용량 : %d, 기본요금(원) : %d" % (usage, base))

가정의 전기 사용량을 입력하세요300
전기사용량 : 300, 기본요금(원) : 1250

In [ ]:
#파이썬 자료형실습

In [19]:
#산술연산
print(10+3)
print(10-3)
print(10*3)
print(10/3) #나누기
print(10//3) #나누기의 몫
print(10%3) #나누기의 나머지
print(10**3) #거듭곱

13
7
30
3.3333333333333335
3
1
1000

In [27]:
#변수
a=10
b=3
print(a/b)
print(a//b)
print(a%b)

#변수 type
print(type(3)) #int
print(type(3.3)) #float
print(type(a))
print(type(b))
print(type('python')) #str
print(type(True)) #bool

3.3333333333333335
3
1
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [29]:
type(3+4j) #complex 복소수

complex

In [35]:
unit=3
unit

3

In [34]:
5==2+3 #5==5

True

In [36]:
#keyword 예약어
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [43]:
name="보현"
age=26
print("안녕~ 만나서 반가워")
print("내 이름은",name)
print("나는",age,"살이야")
print("나는 인공지능응용 전공이야")

안녕~ 만나서 반가워
내 이름은 보현
나는 26 살이야
나는 인공지능응용 전공이야

In [44]:
#양식문자 %s %d
name="보현"
age=26
print("안녕~ 만나서 반가워")
print("내 이름은 %s" %name)
print("나는 %d살이야" %age)
print("나는 인공지능응용 전공이야")

안녕~ 만나서 반가워
내 이름은 보현
나는 26살이야
나는 인공지능응용 전공이야

In [50]:
#양식문자 %s %d
#input 받기2
name=input("이름을 입려하세요:")
age=int(input("나이를 입력하세요:")) #숫자는 int 정수형으로 형변환
print("안녕~ 만나서 반가워")
print("내 이름은 %s" %name)
print("나는 %d살이야" %age)
print("나는 인공지능응용 전공이야")
print("실제 나이는", int(age)+1)

이름을 입려하세요:보현
나이를 입력하세요:26
안녕~ 만나서 반가워
내 이름은 보현
나는 26살이야
나는 인공지능응용 전공이야
실제 나이는 27

In [57]:
print("안녕하세요")
print("%d"%100)
print(100)

print("%d"%(100+100))
print("%d%d"%(100,100))
print("%d%d%d"%(100,100,100))

안녕하세요
100
100
200
100100
100100100

In [72]:
#자리수 지정하기 
#숫자는 오른쪽 정렬, 문자는 왼쪽 정렬이 되어 있음
print("%d"%123)
print("%5d"%123) #5자리
print("%10d"%123) #10자리

print("%f"%123.45)
print("%5f"%123.45)
print("%5.1f"%123.45) #소수점 첫째자리
print("%5.2f"%123.45) #소수점 둘째자리
print("%8.2f"%123.45) #소수점 둘째자리

print("%s"%"Hello")
print("%7s"%"Hello")
print("%6s"%"Hello")
print("%6.1s"%"Hello")
print("%6.2s"%"Hello")

123
  123
       123
123.450000
123.450000
123.5
123.45
  123.45
Hello
  Hello
 Hello
     H
    He